<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Register Page</title>
    </head>
    <body>
        <h1>Register Page</h1>
        <form action="register" method="post">
            <label for="username">Username: </label>
            <input type="text" name="username"><br>
            <label for="password">Password: </label>
            <input type="password" name="password"><br>
            <label for="password_confirm">Confirming Password: </label>
            <input type="password" name="password_confirm"><br>
            <input type="submit" value="Register">
        </form>
        <p>Sudah punya user? <a href="/login">Login</a></p>
    </body>
</html>
